---
# Quay Role Handlers
# ==================

- name: Restart quay container
  containers.podman.podman_container:
    name: "{{ quay_container_name }}"
    state: started
    recreate: true
    image: "{{ quay_image }}"
    ports:
      - "{{ quay_http_port }}:8080"
      - "{{ quay_https_port }}:8443"
    volumes:
      - "{{ quay_config_dir }}:/conf/stack:Z"
      - "{{ quay_storage_dir }}:/datastorage:Z"
    restart_policy: always
